body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    text-align: center;
}
nav{
    background-color: #4BE5BB;
    height: auto;
    text-align: left;
}
nav ul{
    margin: 0;
    list-style: none;
    padding: 1em;
    align-self: left;
    padding-left: 0;

}
nav li{
    display: inline;
    text-align: left;
    padding: 1.5em;
}
nav a :hover{
    cursor: pointer;
    animation: underline 3s ease-in-out;
}
.selected{
    font-weight: bolder;
}
.header{
    background-image: linear-gradient(to bottom, #E54BC2, #4BE5BB);
    height: 95vh;
    margin: 0;
    padding-top: 40vh;
}
.who-am-i, .what-am-i-looking-for, .what-do-i-do{
    margin: 0;
    animation: fade-in 1s ease-in-out;

}
.who-am-i{
    background-color: #6E4BE5;
}
.what-do-i-do{
    background-color: #4BE5BB;
    color: black;
}
.what-am-i-looking-for{
    background-color: #E54BC2;
    color: black;
}
.header .typewriter{
    width: 12ch;
    overflow: hidden; /* Ensures the text stays within the container */
    border-right: .1em solid orange; /* Creates the blinking cursor */
    white-space: nowrap; /* Prevents text from wrapping */
    margin: 0 auto; /* Centers the element horizontally */
    letter-spacing: .15em; /* Adds space between letters */
    animation: typing 1.5s steps(60, end), blink-caret .75s step-end infinite;
}
.col{
    border: 1px solid #fff;
}
.description{
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    margin-top: 2em;
}
ul{
    list-style: none;
    padding: 0;
}
/*Keyframe animations for a typewriter animation*/
@keyframes typing {
    from { width: 0 }
    to { width: 11ch }
}
/*Keyframe animations for a blinking cursor*/
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}
@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes underline{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}